---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "syntax-highlighting"
;
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', sans-serif;
$title-font-family: 'Roboto Slab', serif;
$base-font-size:   16px;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #FF6022;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #EDEDED;
    margin: 0;
    color: #222;
    height: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.45;
    font-size: 13pt;
}

.news {
    text-transform: initial !important;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6f00;
    color: white;
    width: 2rem;
    height: 2rem;
    border: solid 2px #ff6f00;
    outline: none;
    margin: 1em 0 0 1em;
}

.wrapper {
    display: flex;
    padding: 5%; // 2em
    margin: 0;
    height: 100%;

}

a:hover {
    color: #ff4d4d;
    text-decoration-color: #ff4d4d;
}

/*a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: .2s background-color ease-out, .2s width ease-out;
}

a:hover::after {
    width: 100%;
    background: #ff4d4d;
}
*/

.sidebar {
    background-color: #fbfbfb;
    padding: 2.5%;
    height: 100%;
    width: 30%;
    min-width: 30%;
    /*max-width: 50%;*/
    transition: 0.3s ease-out;
    overflow: hidden;
    /*white-space: nowrap;*/
}

@media only screen and (max-width: 1050px) {
    .sidebar {
        width: 30% !important;
        min-width: 30% !important;
    }

    .menu > ul > li {
        font-size: 11pt !important;
    }
}

@media only screen and (max-width: 780px) {
    .sidebar {
        width: 30% !important;
        min-width: 30% !important;
    }

    .menu > ul > li {
        font-size: 9pt !important;
    }

    body {
        font-size: 9pt !important;
    }

    .content {
        margin: 1% 3% !important;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size: 10pt !important;
    }
}

.sidebar a {
    color: #333;
    width: 100%;
    transition: .2s color;
}

.sidebar a:hover {
    color: #ff4d4d;
}


.content {
    margin: 3% 7%; // 2em 3em
    flex-grow: 1;
}

.header {
    padding: 0.3em 0.15em;
    font-size: 20pt;
    line-height: 1em;
    border-bottom: solid 4px #f56a6a;
}

.title {
    color: #444;
}

ul, ol {
    padding: 0;
}

.menu li {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    border-top: solid 1px rgb(200, 200, 200);
    font-size: 13pt;
    padding-right: 2em;
    list-style: none;
    padding: 0.75em 1em;
}

.menu ul > li:first-child {
    border-top: 0;
}

a {
    color: #ff6f00;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color .2s, text-decoration-color .2s;
    
}

.title {
    font-size: 3em;
    font-weight: bold;
    color: #222;
}

h1 {
    font-size: 2em;       
    font-weight: normal;
    color: #222;
}

.content ul, .content ol {
    padding-left: 2rem;
}

h2 {
    padding: 0.4em .15em;
    line-height: 1em;
    border-bottom: solid 3px #f56a6a;
}

.site-title {
    color: #222;
    display: inline;
    text-decoration: none;
    &::after{
        display: none;
    }
}

blockquote {
    padding: .5px;
    padding-left: .5rem;
    margin: 1rem 0;
    background-color: lighten(#f56a6a, 20%);
    border-left: 5px solid #f56a6a;
}

.post-list {
    display: grid;
    grid-template-columns: 1fr;
}

.post-list > li {
    display: block;
    list-style: none;
    padding: 0 5px;
    margin: 10px;
    border-left: 2px solid #f56a6a;
}

.post-meta {
    font-style: italic;
}

.post-link {
    display: block;
}

@media screen and (min-width: 890px) {
    .post-list{
        grid-template-columns: 1fr 1fr;
    }
}

.highlight {
    padding: .5rem 1rem;
    margin: 0;
    border: 1px solid #bbb;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

img{
    max-width: 100%;
    border-radius: 5px;
}

input[type=text], input[type=url]{ 
    border: 1px solid rgb(187, 187, 187);
    margin: .5rem 0;
    padding: .25rem .5rem;
    width: 100%;
}

input[type=submit], .button{
    border-radius: 5px;
    background: transparent;
    border: 2px solid #ff4d4d;
    transition: .5s background-color;
    text-decoration: none;
    color: initial;
    padding: .25rem;
    cursor: pointer;
}

input[type=submit]:hover, .button:hover{
    background-color: #ff4d4d;
    text-decoration: none;
    color: initial;
}

.CodeMirror-wrap{
    cursor: text;
}