---
layout: default

---

<div class="home">

  <span class="title">Home</span>
  <br />
  Welcome to the Darby Computer and Technology club's website! We do all kinds of cool software projects for people at any level of programming! Come join us after school at 2:40 Monday/Wednesday/Friday!
  <br />
  <br />

  <h1 class="page-heading">Posts</h1>
  <div class="newpostcontainer">

  <a class="button" href="{{site.baseurl}}/newpost"><i class="fas fa-plus"></i> New post</a>
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author}}{% endif %}</span>
        

          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS <i class="fas fa-rss-square"></i></a></p>-->
</div>
