<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400i,700,700i|Roboto+Mono" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl }}/site.webmanifest">
  <link rel="mask-icon" href="{{site.baseurl }}/safari-pinned-tab.svg" color="#ff6f00">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  

  

<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:title" content="Darby CAT">
<meta property="og:description" content="Explore computers and technology with other smart people at Darby HS.">
<meta property="og:url" content="https://darbycat.github.io/">
<meta property="og:image" content="https://darbycat.github.io/og-image.jpg">





<!-- <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script>
      var toggle;

      function toggleDrawer(transition, setCookiee) {
        if (toggle) open(setCookiee);
        else close(transition, setCookiee);

        toggle = !toggle;
        console.log(toggle);
      }

      /*
        opacity: 0;
        padding: 0; //!important; 
        width: 0; //!important;
        min-width: 0; //!important;

      */




      function open(setCookiee) {
        try {
          if (window.innerWidth <= 450) {
            document.getElementsByClassName('sidebar')[0].style = "background-color: #fbfbfb; padding: 2.5%; height: 100%; width: 100% !important; min-width: 100% !important; transition: 0.3s ease-out; overflow: hidden; opacity: 1 !important;";
            document.getElementsByClassName('content')[0].style = "width: 0; position: absolute; overflow: hidden;";
          } else {
            document.getElementsByClassName('sidebar')[0].style = "background-color: #fbfbfb; padding: 2.5%; height: 100%; width: 30%; min-width: 30%; transition: 0.3s ease-out; overflow: hidden;";
          }
        } catch { }
        if (setCookiee) setCookie("open", true, 1.5);
      }

      function close(transition, setCookiee) {
        if (transition) {
          document.getElementsByClassName('sidebar')[0].style = "opacity: 0; padding: 0; width: 0 !important; min-width: 0 !important;";
          document.getElementsByClassName('content')[0].style = "width: 70%; position: relative; overflow: auto;";
        } else {
          document.getElementsByClassName('sidebar')[0].style = "opacity: 0; padding: 0; width: 0 !important; min-width: 0 !important; transition: 0s;";
          document.getElementsByClassName('content')[0].style = "width: 70%; position: relative; overflow: auto;";
        }

        if (setCookiee) setCookie("open", false, 1.5);
      }

      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 1000 * 60 * 60));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }

      return "";
    }

    function checkCookie() {
      var open = getCookie("open");

      if (open == 'false') toggleDrawer(false, true);

      resizeStuff();
    }

    if (window.attachEvent) {
        window.attachEvent('onresize', function() {
          resizeStuff();
        });
      } else if (window.addEventListener) {
        window.addEventListener('resize', function() {
          resizeStuff();
        }, true);
      }

      function resizeStuff() {
        if (window.innerWidth <= 450) {
          toggle = true;
          try {
            document.getElementsByClassName('sidebar')[0].style = "opacity: 0; padding: 0; width: 0 !important; min-width: 0 !important; transition: 0s;";
            document.getElementsByClassName('content')[0].style = "width: 70%; position: relative; overflow: auto;";
          } catch { }
        }
      }

    </script>
</head>
