<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,400i,700,700i|Roboto+Mono" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl }}/site.webmanifest">
  <link rel="mask-icon" href="{{site.baseurl }}/safari-pinned-tab.svg" color="#ff6f00">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  

  

<meta property="og:image:width" content="279">
<meta property="og:image:height" content="279">
<meta property="og:title" content="Darby CAT">
<meta property="og:description" content="Explore computers and technology with other smart people at Darby HS.">
<meta property="og:url" content="https://darbycat.github.io/">
<meta property="og:image" content="https://darbycat.github.io/og-image.jpg">





<!-- <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script>
      var toggle = false;
      var openContent = "width: 70%; position: relative; overflow: auto;";
      var closeSidebar = "transition: 0.2s ease-in 0.2s, clip-path 0.2s; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); padding: 2.5% 0; width: 0; min-width: 0; overflow: hidden;";//"padding: 2.5% 0; width: 0; min-width: 0; overflow: hidden;";  // transition: 0.2s ease-in 0.2s, clip-path 0.2s; 
      var openSidebar = "padding: 2.5%; overflow: hidden; transition: all 0.2s, clip-path 0.2s ease 0.2s; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);";
      var sidebar;
      var content;

      function toggleDrawer(transition, setData) {
        if (toggle) open(setData);
        else close(transition, setData);

        toggle = !toggle;
      }

      function open(setData) {
          if (window.innerWidth <= 450) {
            sidebar.style = openSidebar +  "width: 100%; min-width: 100%;";
            content.style = "width: 0; position: absolute; overflow: hidden;";
          } else {
            sidebar.style = openSidebar +  "width: 30%; min-width: 30%;";
          }
        if (setData) sessionStorage.setItem("close", false);
      }

      function close(transition, setData) {
        if (transition) {
          sidebar.style = closeSidebar;
          content.style = openContent;
        } else {
          sidebar.style = closeSidebar + "transition: 0s;";
          content.style = openContent;
        }

        if (setData) sessionStorage.setItem("close", true);
      }

    function onLoad() {
      sidebar = document.getElementsByClassName('sidebar')[0];
      content = document.getElementsByClassName('content')[0];

      if (window.innerWidth <= 450) {
        sidebar.style = openSidebar +  "width: 100%; min-width: 100%;";
        content.style = "width: 0; min-width: 0; position: absolute; overflow: hidden;";
      } else {
        sidebar.style = openSidebar +  "width: 30%; min-width: 30%;";
      }

      var data = sessionStorage.getItem("close");
      if (data == 'true') {
        toggleDrawer(false, true);
      }

      resizeStuff(69);
    }

    function doOnOrientationChange() {
      resizeStuff(window.orientation);
    }
  
    window.addEventListener('orientationchange', doOnOrientationChange);
  

    function resizeStuff(orientation) {
      if (orientation === 0 || window.innerWidth <= 450) {
        toggle = true;
        sidebar.style = "opacity: 0; padding: 0; width: 0; min-width: 0; transition: 0s;";
        content.style = openContent;
      }
    }
    
    </script>
</head>
