<body>
    <button class="nav-button" onclick="toggleDrawer(true, true);">
        <i class="fas fa-bars"></i>
    </button>
    <div class="wrapper">
    <div class="sidebar" id="sidebar">
            
        <!--<nav class="menu">-->

        <div class="menu">
            <nav>
            <h2>Menu</h2>
            <ul>
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            </nav>
            <br /><br />
            <h2>News</h2>
            <ul>
                {% for headline in site.data.news %}
                <li class="news">{{ headline.news }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="visit">
        <b>Visit us:</b><br>
        <span style="vertical-align: bottom;">
        <a href="https://github.com/DarbyCAT"><i class="fab fa-github-square fa-2x"></i></a> <a href="https://github.com/DarbyCAT"><i class="fab fa-twitter-square fa-2x"></i></a> <a href="https://github.com/DarbyCAT"><i class="fab fa-discord fa-2x"></i></a>
    </span>
        </div>
    </div>

