<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article class="content">
        <script>onLoad();</script>
    <a class="site-title" href="{{ site.baseurl }}/"><h2>{{ site.title }}</h2></a>
        {{ content }}
    </article>

    {% include footer.html %}
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$(','$)'], ["$$","$$"] ],
      displayMath: [ ['$[','$]']],
      processEscapes: true
    }
  });
</script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  </body>

</html>
